<%- include('../layouts/adminHeader.ejs') %>

    <body>
        <div class="wrapper dashboard-wrapper">
            <div class="d-flex flex-wrap flex-xl-nowrap">
                <%- include('../layouts/adminSidbar.ejs') %>
                    <div class="page-content">
                        <%- include('../layouts/adminNav.ejs') %>

                            <main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
                                <div class="dashboard-page-content">
                                    <div class="row mb-9 align-items-center justify-content-between">
                                        <div class="col-md-6 mb-8 mb-md-0">
                                            <h2 class="fs-4 mb-0">Category List</h2>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                        </div>
                                        <div class="col-md-6 d-flex flex-wrap justify-content-md-end">
                                          
                                            <a href="/admin/addCategory" class="btn btn-primary">
                                              Add Category
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card mb-4 rounded-4 p-7">
                                       
                                        <div class="card-body px-0 pt-7 pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover align-middle table-nowrap mb-0">
                                                    <tbody>
                                                        <% categories.forEach((category, index) => { %>
                                                            <tr>
                                                                <td class="text-center">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input rounded-0 ms-0"
                                                                            type="checkbox" id="transactionCheck-<%= index %>">
                                                                        <label class="form-check-label"
                                                                            for="transactionCheck-<%= index %>"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center flex-nowrap">
                                                                        <a href="" title="<%= category.name %>">
                                                                            <img src="#" data-src="/productImage/<%= category.image %>"
                                                                                alt="<%= category.catName %>" class="lazy-image" width="100" height="100">
                                                                        </a>
                                                                        <a href="" title="<%= category.catName %>" class="ms-6">
                                                                            <p class="fw-semibold text-body-emphasis mb-0">
                                                                                <%= category.catName %>
                                                                            </p>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                              
                                                                <td>
                                                                  
                                                                </td>
                                                                <td><%= category.date %></td>
                                                                <td class="text-center">
                                                                    <div class="d-flex flex-nowrap justify-content-center">
                                                                        <a href="/admin/editCategory?id=<%= category.id %>"
                                                                            class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4">
                                                                            <i class="far fa-pen me-2"></i> Edit
                                                                        </a>
                                                                        <a href="#" class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4" onclick="block('<%=category._id%>')">
                                                                            <i class="far fa-trash me-2"></i>Block
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                    
                                                    <!-- <tbody>
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="form-check">
                                                                    <input class="form-check-input rounded-0 ms-0"
                                                                        type="checkbox" id="transactionCheck-0">
                                                                    <label class="form-check-label"
                                                                        for="transactionCheck-0"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex align-items-center flex-nowrap">
                                                                    <a href="../shop/product-details-v1.html"
                                                                        title="Flowers cotton dress">
                                                                        <img src="#"
                                                                            data-src="../assets/images/products/product-03-75x100.jpg"
                                                                            alt="Flowers cotton dress"
                                                                            class="lazy-image" width="60" height="80">
                                                                    </a>
                                                                    <a href="../shop/product-details-v1.html"
                                                                        title="Flowers cotton dress" class="ms-6">
                                                                        <p class="fw-semibold text-body-emphasis mb-0">
                                                                            Flowers cotton dress</p>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td>$44.25</td>
                                                            <td>
                                                                <span
                                                                    class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                                                            </td>
                                                            <td>02.11.2021</td>
                                                            <td class="text-center">
                                                                <div class="d-flex flex-nowrap justify-content-center">
                                                                    <a href="add-product-1.html"
                                                                        class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                                                            class="far fa-pen me-2"></i> Edit</a>
                                                                    <a href="#"
                                                                        class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                                                            class="far fa-trash me-2"></i> Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    
                                                     
                                                    </tbody> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <nav aria-label="Page navigation example" class="mt-6 mb-4">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item active mx-3"><a class="page-link" href="#">01</a></li>
                                            <li class="page-item mx-3"><a class="page-link" href="#">02</a></li>
                                            <li class="page-item mx-3"><a class="page-link" href="#">03</a></li>
                                            <li class="page-item mx-3"><a class="page-link dot" href="#">...</a></li>
                                            <li class="page-item mx-3"><a class="page-link" href="#">16</a></li>
                                            <li class="page-item mx-3">
                                                <a class="page-link" href="#"><i class="far fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <footer class="pt-6 pb-10 footer-dashboard mt-auto">
                                    <div class="row">
                                        <div class="col-sm-6 text-sm-start text-center">
                                            <script>
                                                document.write(new Date().getFullYear());
                                            </script>
                                            © Glowing - Beauty & Cosmetics Shop HTML Template .
                                        </div>
                                        <div class="col-sm-6 text-sm-end text-center">
                                            All rights reserved 
                                        </div>
                                    </div>
                                </footer>
                            </main>
                    </div>
            </div>
        </div>
        <%- include('../layouts/adminFooter.ejs') %>
            <%- include('../layouts/svg2.ejs') %>

                <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
                    <a href="#"
                        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
                        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
                </div>


                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    function block(id){
                        axios.patch('/admin/categoryBlock',{id})
                    }
                </script>

    </body>

    <!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

    </html>