<%- include('../layouts/adminHeader.ejs') %>

    <body>
        <div class="wrapper dashboard-wrapper">
            <div class="d-flex flex-wrap flex-xl-nowrap">
                <%- include('../layouts/adminSidbar.ejs') %>
                    <div class="page-content">
                        <%- include('../layouts/adminNav.ejs') %>

                            <main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
                                <div class="dashboard-page-content">
                                    <div class="row mb-9 align-items-center justify-content-between">
                                        <div class="col-md-6 mb-8 mb-md-0">
                                            <h2 class="fs-4 mb-0">Category List</h2>
                                            
                                        </div>
                                        <div class="col-md-6 d-flex flex-wrap justify-content-md-end">
                                          
                                            <a href="/admin/addCategory" class="btn btn-primary">
                                              Add Category
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card mb-4 rounded-4 p-7">
                                       
                                        <div class="card-body px-0 pt-7 pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover align-middle table-nowrap mb-0">
                                                    <tbody>
                                                        <% categories.forEach((category, index) => { %>
                                                            <tr>
                                                                <td class="text-center">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input rounded-0 ms-0"
                                                                            type="checkbox" id="transactionCheck-<%= index %>">
                                                                        <label class="form-check-label"
                                                                            for="transactionCheck-<%= index %>"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center flex-nowrap">
                                                                        <a href="" title="<%= category.name %>">
                                                                            <img src="#" data-src="/productImage/<%= category.image %>"
                                                                                alt="<%= category.catName %>" class="lazy-image" width="100" height="100">
                                                                        </a>
                                                                        <a href="" title="<%= category.catName %>" class="ms-6">
                                                                            <p class="fw-semibold text-body-emphasis mb-0">
                                                                                <%= category.catName %>
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>

                                                                  
                                                                </td>


                                                              
                                                                <td>
                                                                    <div>  
                                                                        <span style="font-size: 19px;">Offer</span>
                                                                        <select  name="offerSelect" onchange="catOffer('<%=category._id%>')" id="offerValue<%=category._id  %>" style="width: 40px; height: 20px;" >
                                                                            <% console.log('....................ctfvgyuhdivfe3gyhufbegydhuvfgdye',catOffer,'....................................wdergtyjuio');%>
                                                                            <% catOffer.forEach((catoffer)=>{ %>
                                                                                
                                                                            <option value="<%=catoffer.offer %>"  <% if (catoffer.offer === category.offer) { %> selected <% } %>> <%=catoffer.offer%> </option>
                                                                            <% }) %>
                                                                        </select>

                                                                    </div>
                                                                  
                                                                </td>
                                                                <td><%= category.date %></td>
                                                                <td class="text-center">
                                                                    <div class="d-flex flex-nowrap justify-content-center">
                                                                        <a href="/admin/editCategory?id=<%= category.id %>"
                                                                            class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4">
                                                                            <i class="far fa-pen me-2"></i> Edit
                                                                        </a>
                                                                        <a href="#" class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4" onclick="block('<%=category._id%>')">
                                                                            <i class="far fa-trash me-2"></i>Block
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <script>
                                     function catOffer(categoryId) {
                                        console.log(categoryId,'..........................dsfghfgds');
                                        
                                        
                                         const offerSelect = document.getElementById('offerValue'+categoryId);
                                         console.log(categoryId,offerSelect.value);
                                        
                                            fetch('/admin/categoryOffer', {
                                            method: "POST",
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({ categoryId, offer: offerSelect.value })
                                        })

                                    }
                                    
                                </script>
                            </main>
                    </div>
            </div>
        </div>
        <%- include('../layouts/adminFooter.ejs') %>
            <%- include('../layouts/svg2.ejs') %>

                <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
                    <a href="#"
                        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
                        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
                </div>


                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    function block(id){
                        axios.patch('/admin/categoryBlock',{id})
                    }
                </script>

    </body>

    <!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

    </html>