<%- include('../layouts/adminHeader.ejs') %>

    <body>
        <div class="wrapper dashboard-wrapper">
            <div class="d-flex flex-wrap flex-xl-nowrap">
                <%- include('../layouts/adminSidbar.ejs') %>
                    <div class="page-content">
                        <%- include('../layouts/adminNav.ejs') %>

                            <main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
                                <div class="dashboard-page-content">
                                    <div class="row mb-9 align-items-center justify-content-between">
                                        <div class="col-md-6 mb-8 mb-md-0">
                                            <h2 class="fs-4 mb-0">Offer List</h2>
                                            
                                        </div>
                                        <div class="col-md-6 d-flex flex-wrap justify-content-md-end">
                                          
                                            <a href="/admin/addOffer" class="btn btn-primary">
                                              Add Offer
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card mb-4 rounded-4 p-7">
                                        <div class="card-header bg-transparent px-0 pt-0 pb-7">
                                            <div class="row align-items-center justify-content-between">
                                             
                                            </div>
                                        </div>
                                    
                                        
                                        <div class="card-body px-0 pt-7 pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover align-middle table-nowrap mb-0" >
                                                    
                                                    <thead>
                                                        <th class="text-center">Sl No.</th>
                                                        <th >
                                                        Offer Name
                                                        </th>
                                                        <th >
                                                          Percentage
                                                        </th>
                                                        <th class="text-center">Action</th>
                                                        <!-- <th>Description</th>
                                                        <th>Category</th>
                                                        <th></th>  -->
                                                       
                                                    </thead>
                                                
                                                    <tbody>
                                                        
                                                        <%OfferDetails.forEach((data,i)=>{  %>
                                                            <% if (data.offer>0) { %>
                                                        <tr id="remove<%=data._id %>">
                                                            <td class="text-center">
                                                              <%=i+1 %>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex align-items-center flex-nowrap">
                                                                  
                                                                    <a href="../shop/product-details-v1.html"
                                                                        title="Flowers cotton dress" class="ms-6">
                                                                        <p class="fw-semibold text-body-emphasis mb-0">
                                                                            <%=data.name%></p>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            
                                                            <td><%=data.offer%> %</td>
                                                           
                                                            <!-- <td><%//=product.stock%></td> -->
                                                            <td class="text-center">
                                                                <div class="d-flex flex-nowrap justify-content-center">
                                                                    <a href="/admin/editOffer/?id=<%=data._id%>"
                                                                        class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                                                            class="far fa-pen me-2"></i>Edit</a>
                                                                    
                                                                    <button
                                                                         class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4" onclick="remove('<%=data._id%>')" ><i 
                                                                            class="far fa-trash me-2"></i>Delete </button>
                                                                    
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }%>
                                                          
                                                            
                                                        <% }) %>
                                                        
                                                            
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                                <%-include('../layouts/adminPagination.ejs') %>
                            </main>
                    </div>
            </div>
        </div>
        <%- include('../layouts/adminFooter.ejs') %>
            <%- include('../layouts/svg2.ejs') %>

                <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
                    <a href="#"
                        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
                        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

                <script> 
                function remove(offerId){
                    const removes = document.getElementById('remove'+offerId)
                    try {
                       const result = axios.post('/admin/removeOffer',{offerId})
                       console.log("result of deletion : ",result);
                    //    for automatically reloading 
          
                        
                    } catch (error) {
                        console.log("Error : ",error);
                    }
                  removes.remove()
                }

                </script>

    </body>

    <!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

    </html>