<%- include('../layouts/adminHeader.ejs') %>

    <body>
		
		<form class="wrapper dashboard-wrapper" action="/admin/editCoupen?id=<%=coupons._id %>" method="post">
			<div class="d-flex flex-wrap flex-xl-nowrap">
				<%- include('../layouts/adminSidbar.ejs') %>
				<div class="page-content">
					<%- include('../layouts/adminNav.ejs') %>
		
					<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
						<div class="dashboard-page-content">
							<div class="row mb-9 align-items-center">
								<div class="col-xxl-9">
									<div class="row">
										<div class="col-sm-6 mb-8 mb-sm-0">
											<h2 class="fs-4 mb-0">Edit Coupon</h2>
										</div>
										<div class="col-sm-6 d-flex flex-wrap justify-content-sm-end">
											<button type="submit" class="btn btn-primary">
												Save Edit
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xxl-9">
									<div class="row">
										<div class="col-lg-8">
											<div class="card mb-8 rounded-4">
												<div class="card-body p-7">
													<div class="mb-8">
														<label for="couponName" class="mb-4 fs-13px ls-1 fw-bold text-uppercase">Coupon Name</label>
														<input name="couponName" type="text" value="<%=coupons.name%>" placeholder="Type here" class="form-control" id="couponName">
													</div>
													<div class="mb-8">
														<label for="percentage" class="mb-4 fs-13px ls-1 fw-bold text-uppercase">Percentage</label>
														<input name="percentage" type="number" value="<%=coupons.offer%>" id="percentage" placeholder="Type here" class="form-control">
													</div>
													<div class="mb-8">
														<label for="expiryDate" class="mb-4 fs-13px ls-1 fw-bold text-uppercase">Valid Date</label>
														<input name="expiryDate" type="number" value="<%=coupons.dataDuration%>" id="expiryDate" placeholder="Type here" class="form-control">
													</div>
													<div class="mb-8">
														<label for="description" class="mb-4 fs-13px ls-1 fw-bold text-uppercase">Buy Low</label>
														<input name="Min" type="text" value="<%=coupons.buyLow%>" id="Min" placeholder="Type here" class="form-control">
													</div>
													<div class="mb-8">
														<label for="description" class="mb-4 fs-13px ls-1 fw-bold text-uppercase">Buy Max</label>
														<input name="Max" type="text" value="<%=coupons.buyHigh%>" id="Max" placeholder="Type here" class="form-control">
													</div>
													
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
		</form>
		
	<style>
::-webkit-scrollbar{
	width: 0;
}
	</style>	

		<!-- <script>
			function preview(e){
				const img=document.getElementById('img')
				img.src=URL.createObjectURL(e.files[0])
			}
		</script>	 -->
        <%- include('../layouts/adminFooter.ejs') %>
            <%- include('../layouts/svg2.ejs') %>

                <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
                    <a href="#"
                        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
                        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
                </div>

    </body>

    
