<%- include('../layouts/header.ejs')  %>


<body>
	<div class="wrapper dashboard-wrapper">
		<div class="d-flex flex-wrap flex-xl-nowrap">
			<%- include('../layouts/adminsidbar.ejs')  %>
			<div class="page-content">
				<header class="main-header bg-body position-relative d-none d-xl-block px-10 py-6">
					<div class="container-fluid">
						<nav class="navbar navbar-light py-0 row no-gutters px-3 px-lg-0">
							<div class="col-md-4 px-0 px-md-6 order-1 order-md-0">
									<!-- <form>
										<div class="input-group position-relative bg-input rounded">
											<input type="text" class="form-control border-1 pl-4 shadow-none"
												placeholder="Search Item">
											<div class="input-group-append fs-14">
												<button
													class="btn btn-hover-bg-primary btn-hover-border-primary rounded-0 rounded-end border-start border-0 h-100 px-8 py-5">
													<i class="far fa-search"></i>
												</button>
											</div>
										</div>
									</form> -->
							</div>
							<div
								class="col-md-6 d-flex flex-wrap justify-content-md-end align-items-center order-0 order-md-1">
								<div class="color-modes position-relative pe-4">
									<a class="bd-theme btn btn-link nav-link dropdown-toggle d-inline-flex align-items-center justify-content-center text-primary p-0 position-relative rounded-circle"
										href="#" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static"
										aria-label="Toggle theme (light)">
										<svg class="bi my-1 theme-icon-active">
											<use href="#sun-fill"></use>
										</svg>
									</a>
									<ul class="dropdown-menu dropdown-menu-end fs-14px" data-bs-popper="static">
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center active"
												data-bs-theme-value="light" aria-pressed="true">
												<svg class="bi me-4 opacity-50 theme-icon">
													<use href="#sun-fill"></use>
												</svg>
												Light
												<svg class="bi ms-auto d-none">
													<use href="#check2"></use>
												</svg>
											</button>
										</li>
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center"
												data-bs-theme-value="dark" aria-pressed="false">
												<svg class="bi me-4 opacity-50 theme-icon">
													<use href="#moon-stars-fill"></use>
												</svg>
												Dark
												<svg class="bi ms-auto d-none">
													<use href="#check2"></use>
												</svg>
											</button>
										</li>
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center"
												data-bs-theme-value="auto" aria-pressed="false">
												<svg class="bi me-4 opacity-50 theme-icon">
													<use href="#circle-half"></use>
												</svg>
												Auto
												<svg class="bi ms-auto d-none">
													<use href="#check2"></use>
												</svg>
											</button>
										</li>
									</ul>
								</div>
								<div class="dropdown no-caret px-4 mx-3 py-2">
									<a href="#"
										class="dropdown-toggle fs-5 text-decoration-none fw-500 lh-1 animation-shake position-relative"
										data-bs-toggle="dropdown">
<!-- 										
										 <i class="far fa-bell"></i> 
										 <span class="badge text-bg-dark rounded-circle">4</span>  -->

										 <a  class="btn btn-primary" href="/admin/login">Logout</a>
									</a>
									<div class="dropdown-menu dropdown-menu-end">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
								<a href="#" class="request-full-screen d-block px-4 mx-3 fs-5" title="Full screen">
									<i class="far fa-rss-square"></i>
								</a>
								<div class="dropdown px-4 mx-3 py-2 dropdown-language">
									<a href="#" class="dropdown-toggle fs-5" data-bs-toggle="dropdown"><i
											class="far fa-globe-americas"></i></a>
									<div class="dropdown-menu dropdown-menu-end">
										<a class="dropdown-item text-brand" href="#"><img
												src="../assets/images/dashboard/flag-us.png" alt="English">English</a>
										<a class="dropdown-item" href="#"><img
												src="../assets/images/dashboard/flag-fr.png" alt="Français">Français</a>
										<a class="dropdown-item" href="#"><img
												src="../assets/images/dashboard/flag-jp.png" alt="Français">Français</a>
										<a class="dropdown-item" href="#"><img
												src="../assets/images/dashboard/flag-cn.png" alt="Français">Français</a>
									</div>
								</div>
								<div class="dropdown pl-2 py-2">
									<a href="#"
										class="dropdown-toggle text-heading pr-3 pr-sm-6 d-flex align-items-center justify-content-end"
										data-bs-toggle="dropdown">
										<img src="/image/admin.jpg" alt="Ronald Hunter"
											class="rounded-circle" width="40">
									</a>
									<div class="dropdown-menu dropdown-menu-end w-100">
										<a class="dropdown-item" href="#">My Profile</a>
										<a class="dropdown-item" href="#">Logout</a>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</header>
				<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
					<div class="dashboard-page-content">
						<div class="row mb-9 align-items-center">
							<div class="col-sm-6 mb-8 mb-sm-0">
								<h2 class="fs-4 mb-0">Dashboard</h2>
								
							</div>
							
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-6 col-lg-4 mb-7"> 
								<div class="card rounded-4 shadow-lg"> 
									<div class="card-body p-5"> 
										<div class="d-flex">
											<div class="me-6">
												<span
													class="square d-flex align-items-center justify-content-center fs-5 badge rounded-circle text-green bg-green-light"
													style="--square-size: 48px">
													<svg class="icon">
														<use xlink:href="#circle-dollar"></use>
													</svg>
												</span>
											</div>
											
											<div class="media-body">
												<h6 class="mb-4 card-title">Revenue</h6>
												<span class="fs-4 d-block font-weight-500 text-primary lh-12">₹ <%= totalData.reduce((acc, order) => acc + order.orderAmount, 0).toFixed(2) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- For Sales count -->
							<div class="col-sm-12 col-md-6 col-lg-4 mb-7"> 
								<div class="card rounded-4 shadow-lg"> 
									<div class="card-body p-5"> 
										<div class="d-flex">
											<div class="me-6">
												<span
													class="square d-flex align-items-center justify-content-center fs-5 badge rounded-circle text-success bg-success-light"
													style="--square-size: 48px">
													<i class="fas fa-truck"></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="mb-4 card-title">Sales Count</h6>
												<span class="fs-4 d-block font-weight-500 text-primary lh-12"><%= totalData.length %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- for overall discount -->
							
							 <% let Price= bestSellingProducts.reduce ((acc,curr)=>acc+curr.price,0)%>
							 <% let offerPrice= bestSellingProducts.reduce((acc,curr)=>acc+curr.offerPrice,0) %>
							 <% let offerDiscount=Price-offerPrice %>


							 <% let totalPrice=0 %>
							 <% let couponDiscount=0 %>
							 <% let totalDiscount=0 %>
							 
							 <% totalData.forEach((x)=>{ %>

								<% x.products.forEach((y)=>{ %>

									<% if(x.offer>0){ %>
									<% totalPrice+=y.productPrice*y.quantity %>
									<% } %>

									<% }) %>

									<% couponDiscount=totalPrice-x.orderAmount %>
								<% }) %>

								<% totalDiscount=couponDiscount+offerDiscount %>


							<div class="col-sm-12 col-md-6 col-lg-4 mb-7"> 
								<div class="card rounded-4 shadow-lg"> 
									<div class="card-body p-5"> 
										<div class="d-flex">
											<div class="me-6">
												<span
													class="square d-flex align-items-center justify-content-center fs-5 badge rounded-circle text-success bg-success-light"
													style="--square-size: 48px">
													<i class="fas fa-truck"></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="mb-4 card-title">Overall Discount</h6>
												<span class="fs-4 d-block font-weight-500 text-primary lh-12"><%= totalDiscount.toFixed(2) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="row">
							<!-- Row for Sales Charts -->
							<div class="col-xl-12">
								<div class="row mb-4">
									<!-- Monthly Sales Chart -->
									<div class="col-md-6">
										<div class="card rounded-4 p-7 mb-7">
											<h5 class="card-title fs-6 mb-6">Monthly Sale Statistics</h5>
											<div class="card-body p-0">
												<canvas id="monthlyChart" class="chartjs" height="265"></canvas>
											</div>
										</div>
									</div>
						
									<!-- Yearly Sales Chart -->
									<div class="col-md-6">
										<div class="card rounded-4 p-7 mb-7">
											<h5 class="card-title fs-6 mb-6">Yearly Sale Statistics</h5>
											<div class="card-body p-0">
												<canvas id="yearlyChart" class="chartjs" height="265"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							
							<div class="row mb-9">
								
								<div class="col-xl-6">
									<div class="card rounded-4 mb-4"> 
										<div class="card-body px-0 pt-7 pb-0">
											<div class="row align-items-center justify-content-between mb-4">
												<div class="col-md-12">
													<h2 class="fs-4 mb-0">Best Selling Products</h2>
												</div>
											</div>
							
											<div class="table-responsive">
												<table class="table table-hover align-middle table-nowrap mb-0">
													<thead>
														<tr>
															<th>No.</th>
															<th>Product</th>
															<!-- <th>Brand</th> -->
															<th class="text-center">Sold Count</th>
														</tr>
													</thead>
													<tbody>

														<% console.log(totalData,': data is here for you');
														 %>
														<% totalData.forEach(i=>{%>
															<% console.log(i.products,':totalData is here');
															 %>
															<% }) %>
														<% bestSellingProducts.forEach((product, i) => { %>
														<tr>
															<td class="text-center">
																<%=i+1 %>
															</td>
															<td>
																<div class="d-flex align-items-center flex-nowrap">
																	<a href="../shop/product-details-v1.html" title="Flowers cotton dress">
																		<img src="#" data-src="<%=product.images[0]%>" 
																			class="lazy-image" width="60" height="80">
																	</a>
																	<a href="../shop/product-details-v1.html" title="Flowers cotton dress" class="ms-6">
																		<p class="fw-semibold text-body-emphasis mb-0"><%=product.productName%></p>
																	</a>
																</div>
															</td>
															<!-- <td class="text-center"><%//=product.%></td> -->
															<td class="text-center"><%=product.soldCount%></td>
														</tr>
														<% }) %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							
								<div class="col-xl-6">
									<div class="card rounded-4 mb-4"> 
										<div class="card-body px-0 pt-7 pb-0">
											<div class="row align-items-center justify-content-between mb-4">
												<div class="col-md-12">
													<h2 class="fs-4 mb-0">Best Selling Categories</h2>
												</div>
											</div>
							
											<div class="table-responsive">
												<table class="table table-hover align-middle table-nowrap mb-0">
													<thead>
														<tr>
															<th>No.</th>
															<th>Category</th>
															<th class="text-center">Sold Count</th>
														</tr>
													</thead>
													<tbody>
														<% bestSellingCategories.forEach((category, i) => { %>
														<tr>
															<td class="text-center">
																<%=i+1 %>
															</td>
															<td>
																<div class="d-flex align-items-center flex-nowrap">
																	<a href="../shop/category-details-v1.html" title="Category Name">
																		<p class="fw-semibold text-body-emphasis mb-0"><%=category.categoryName%></p>
																	</a>
																</div>
															</td>
															<td class="text-center"><%=category.soldCount%></td>
														</tr>
														<% }) %>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<!-- best selling brand -->

									<div class="card rounded-4 mb-4"> 
										<div class="card-body px-0 pt-7 pb-0">
											<div class="row align-items-center justify-content-between mb-4">
												<div class="col-md-12">
													<h2 class="fs-4 mb-0">Best Selling Brands</h2>
												</div>
											</div>
							
											<div class="table-responsive">
												<table class="table table-hover align-middle table-nowrap mb-0">
													<thead>
														<tr>
															<th>No.</th>
															<th>Brand</th>
															<th class="text-center">Sold Count</th>
														</tr>
													</thead>
													<tbody>
														<% bestSellingBrand.forEach((brand, i) => { %>
														<tr>
															<td class="text-center">
																<%=i+1 %>
															</td>
															<td>
																<div class="d-flex align-items-center flex-nowrap">
																	<a href="../shop/Brand-details-v1.html" title="Brand Name">
																		<p class="fw-semibold text-body-emphasis mb-0"><%=brand.brandName%></p>
																	</a>
																</div>
															</td>
															<td class="text-center"><%=brand.soldCount%></td>
														</tr>
														<% }) %>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<!-- best selling brand end here -->

								</div>

							</div>
							
							
						</div>
						
					
					</div>

					<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


		<script>
			document.addEventListener("DOMContentLoaded", function() {
  // Fetch monthly sales data
  axios.put('/admin/home/monthlyChart')
    .then(response => {
      if (response.data && response.data.labels && response.data.data) {
        var monthlyData = response.data;
        var ctxMonthly = document.getElementById("monthlyChart").getContext("2d");

        new Chart(ctxMonthly, {
          type: 'line',
          data: {
            labels: monthlyData.labels,
            datasets: [{
              label: "Sales",
              data: monthlyData.data,
              backgroundColor: "#2C78DC33",
              borderColor: "#2C78DC",
              borderWidth: 1,
              fill: true
            }]
          },
          options: {
            scales: {
              y: { beginAtZero: true },
              x: { beginAtZero: true }
            }
          }
        });
      } else {
        console.error("No data returned from the API");
      }
    })
    .catch(error => console.error("Error fetching monthly sales data:", error));
});



// yearly chart


document.addEventListener("DOMContentLoaded", function() {
  axios.put('/admin/home/yearlyChart')
    .then(response => {
      var yearlyData = response.data;
      var ctxYearly = document.getElementById("yearlyChart").getContext("2d");
      
      new Chart(ctxYearly, {
        type: 'line',
        data: {
          labels: yearlyData.labels, 
          datasets: [{
            label: "Yearly Sales",
            data: yearlyData.data,  
            backgroundColor: "#04D18233",
            borderColor: "#04D182",
            borderWidth: 1,
            fill: true
          }]
        },
        options: {
          scales: {
            y: { beginAtZero: true },
            x: { beginAtZero: true }
          }
        }
      });
    })
    .catch(error => console.error("Error fetching yearly sales data:", error));
});



	</script>
					  
					<footer class="pt-6 pb-10 footer-dashboard mt-auto">
						<div class="row">
							<div class="col-sm-6 text-sm-start text-center">
								<script>
									document.write(new Date().getFullYear());
								</script>
								© Glowing - Beauty & Cosmetics Shop HTML Template .
							</div>
							<div class="col-sm-6 text-sm-end text-center">
								All rights reserved
							</div>
						</div>
					</footer>
				</main>
			</div>
		</div>
	</div>
	<%- include('../layouts/layoutFooter.ejs') %>
	<%- include('../layouts/svg2.ejs') %>

	<div class="position-fixed z-index-10 bottom-0 end-0 p-10">
		<a href="#"
			class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
			title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
	</div>
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

</html>