<%- include('../layouts/header.ejs')  %>

<body>
    <!-- nav bar -->
    <%- include('../layouts/navbar.ejs') %>
    <!-- navbar -->

     <main id="content" class="wrapper layout-page">
        <section class="pb-lg-20 pb-16">
            <div class="bg-body-secondary py-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                        <li class="breadcrumb-item"><a class=" text-body" href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">admin
                        </li>
                        <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Login
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="container">
                <div class=" text-center pt-13 mb-12 mb-lg-15">
                    <div class="text-center">
                        <h2 class="fs-36px mb-11 mb-lg-14">admin</h2>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-5 mx-auto">
                        <h3 class="fs-4 mb-10">Log In</h3>
                                <form action="/admin/login" method="post">
                                    <div class="form-group mb-6">
                                        <label for="user_login_email" class="visually-hidden">Email address</label>
                                        <input type="email" class="form-control" id="user_login_email"
                                            name="email" placeholder="Email Address">
                                    </div>
                                    <div class="form-group mb-6">
                                        <label for="user_login_password" class="visually-hidden">Password</label>
                                        <input type="password" class="form-control" id="user_login_password"
                                            placeholder="Password" name="password">
                                    </div>
                                    <!-- <a href="" class="d-inline-block fs-15 lh-12 mb-7">Forgot your password?</a>
                                    <button type="submit" class="btn btn-primary w-100 mb-7">Submit</button> -->
                                   
                                  <p><%=locals.msg%></p>
                                </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('../layouts/footer.ejs') %>
    <!-- footer -->
    <!-- layout footer -->
   
    <!-- layout footer -->
    <%- include('../layouts/layoutFooter.ejs') %>
    <!--layoutFooter  -->

    <!-- svg -->
    <%- include('../layouts/svg.ejs') %>
    <!-- svg -->

    <!-- search  -->
    <%- include('../layouts/search.ejs') %>
    <!-- search -->

    <!-- mobile nav bar -->
    <%- include('../layouts/mobileNavbar.ejs') %>
    <!-- mobile nav bar -->


    <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
        <a href="#"
            class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
            title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

</html>