<%- include('../layouts/adminHeader.ejs') %>


<body>
	<div class="wrapper dashboard-wrapper">
		<div class="d-flex flex-wrap flex-xl-nowrap">
            <%- include('../layouts/adminSidbar.ejs') %>
			
			<div class="page-content">
                <%- include('../layouts/adminNav.ejs') %>
				
				<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
					<div class="dashboard-page-content">
						<div class="row mb-9 align-items-center justify-content-between">
							<div class="col-sm-6 mb-8 mb-sm-0">
								<h2 class="fs-4 mb-0">Order Details</h2>
							</div>
						</div>
						<div class="card mb-4 rounded-4 p-7">
							<div class="card-header bg-transparent px-0 pt-0 pb-7">
								<div class="row align-items-center justify-content-between">
									<div class="col-md-4 col-12 mr-auto mb-md-0 mb-6">
										<input type="text" placeholder="Search..." class="form-control bg-input border-0">
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-7 pb-0">
								<div class="table-responsive">
									<table class="table table-hover align-middle table-nowrap mb-0 table-borderless">
										<thead style="background-color: #343A40; color: #fff;">
											<tr>
												<th class="align-middle" scope="col">Order ID</th>
												<th class="align-middle" scope="col">User Name</th>
												<th class="align-middle" scope="col">Items</th>
												<th class="align-middle" scope="col">Total Price</th>
												<th class="align-middle" scope="col">Date</th>
												<th class="align-middle text-center" scope="col">Actions</th>
											</tr>
										</thead>
										<tbody>
											<% console.log(orderDatas,'orderDatas is here');
											 %>
											<% orderDatas.forEach(order => { %>
												<% let totalOrderAmount = 0 %>
												<% let totalItems = 0 %>
												<% order.products.forEach(product => { %>
													<% let productTotal = product.productId.offerPrice * product.quantity %>
													<% totalOrderAmount += productTotal %>
													<% totalItems += product.quantity %>
												
												<% }) %>
												<tr>
													<td class="align-middle">
														<%= order._id %> 
													</td>
													<td class="align-middle">
													
														<%=order.UserId.name %>
														
													</td>
													<td class="align-middle">
														<%= totalItems %> 
													</td>
													<td class="align-middle">
														₹ <%= order.orderAmount.toFixed(2) %>
													</td>
												
													<td class="align-middle">
														<%= new Date(order.orderDate).toLocaleDateString() %>
													</td>
													<td class="align-middle text-center">
														<a href="/admin/singleOrder/<%= order._id %>" class="btn btn-primary">View</a>
													</td>
												</tr>
												<!-- Blank row for spacing -->
												<tr>
													<td colspan="7" style="height: 20px;"></td>
												</tr>
											<% }) %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<%- include('../layouts/adminPagination.ejs') %>

				</main>
				
				
				
				
				
				
			</div>
		</div>
	</div>

	
    <%- include('../layouts/adminFooter.ejs') %>
    <%- include('../layouts/svg2.ejs') %>

	<div class="position-fixed z-index-10 bottom-0 end-0 p-10">
		<a href="#"
			class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
			title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
	</div>

</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/dashboard/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:46:35 GMT -->

</html>