<%- include('../layouts/adminHeader.ejs') %>

<body>
    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            <%- include('../layouts/adminSidbar.ejs') %>
            
            <div class="page-content">
                <%- include('../layouts/adminNav.ejs') %>
               
                <main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
                    <div class="dashboard-page-content">
                        <div class="row mb-9 align-items-center justify-content-between">
                            <div class="col-sm-6 mb-8 mb-sm-0">
                                <h2 class="fs-4 mb-0">Order List</h2>
                                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="card rounded-4">
                           
                            <div class="card-body p-7">
                                <div class="row mb-8 mt-4 order-info-wrap">
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle px-6 py-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-user px-1"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Customer</h6>
                                                <p class="mb-4">
                                                     <br>
                                                     <%=singleData.UserId.name  %>
                                                    <br>
                                                    
                                                </p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-truck px-2"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Order info</h6>
                                                <p class="mb-4">
                                                    <br>

                                                    <%=singleData.payment  %>  <br>
                                                    <%=singleData.paymentStatus  %>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-truck px-2"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Deliver to</h6>
                                                <p class="mb-4">
                                                  <%= singleData.deliveryAddress.name %></span><br>
                                                   <%=singleData.deliveryAddress.street %>, <%=singleData.deliveryAddress.locality %><br>
                                                   <%= singleData.deliveryAddress.city %>, <%= singleData.deliveryAddress.state %>, <%= singleData.deliveryAddress.pincode %><br>
                                                   Phone: <%= singleData.deliveryAddress.phone %>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th> Price</th>
                                                        <th>Quantity</th>
                                                        <th class="text-end">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% singleData.products.forEach(data=>{  %>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center flex-nowrap">
                                                                <a href="../shop/product-details-v1.html"
                                                                    title="Flowers cotton dress">
                                                                    <img src="<%=data.productId.images[0] %>"
                                                                        data-src=""
                                                                        alt="Flowers cotton dress" class="lazy-image"
                                                                        width="60" height="80">
                                                                </a>
                                                              
                                                            </div>
                                                        </td>
                                                        <td><%=data.productId.price  %></td>
                                                        <td><%=data.quantity%></td>
                                                        <td class="text-end"><%=data.productId.price*data.quantity  %></td>
                                                    </tr>
                                                   
                                                   
                                                   
                                                    <!-- <tr>
                                                        <td colspan="4">
                                                            <div
                                                                class="d-flex flex-column align-items-end justify-content-end">
                                                                <div class="mw-40 w-40">
                                                                    <div class="d-flex w-100">
                                                                        <span
                                                                            class="d-inline-block w-50">Subtotal:</span>
                                                                        <span
                                                                            class="d-inline-block w-50 text-end fw-normal">$973.35</span>
                                                                    </div>
                                                                    <div class="d-flex w-100">
                                                                        <span class="d-inline-block w-50">Shipping
                                                                            cost:</span>
                                                                        <span
                                                                            class="d-inline-block w-50 text-end fw-normal">$10.00</span>
                                                                    </div>
                                                                    <div class="d-flex w-100 mb-5">
                                                                        <span class="d-inline-block w-50">Grand
                                                                            total:</span>
                                                                        <span
                                                                            class="d-inline-block w-50 text-end fs-5 fw-semibold">$983.00</span>
                                                                    </div>
                                                                    <div class="d-flex w-100">
                                                                        <span
                                                                            class="d-inline-block w-50 text-muted">Status:</span>
                                                                        <span
                                                                            class="d-inline-block w-50 text-end fs-20 fw-semibold"><span
                                                                                class="badge rounded-pill alert alert-success text-success fs-12px px-4 py-3">Payment
                                                                                done</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr> -->
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 offset-lg-1">
                                        <div class="box shadow-sm bg-body-tertiary p-6">
                                            <h6 class="mb-6">Payment info</h6>
                                            <div>
                                                <div class="d-flex">
                                                    <div class="me-4">
                                                        <img src="../assets/images/dashboard/master-card.png"
                                                            class="border" alt="Card" width="28">
                                                    </div>
                                                    <p class="mb-0"> Master Card **** ****4768</p>
                                                </div>
                                                <p class="mb-0">
                                                    Business name: Grand Market LLC <br>
                                                    Phone: +1 (800) 555-154-52
                                                </p>
                                            </div>
                                        </div>
                                        <div class="h-25 pt-8">
                                            <div class="mb-6">
                                                <label
                                                    class="mb-5 fs-13px ls-1 fw-semibold text-uppercase">Notes</label>
                                                <textarea class="form-control" name="notes" id="notes"
                                                    placeholder="Type some note"></textarea>
                                            </div>
                                            <button class="btn btn-primary">Save note</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </main>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/dashboard/order-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:47:30 GMT -->

</html>