<%- include('../layouts/adminHeader.ejs') %>

<body>
    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            <%- include('../layouts/adminSidbar.ejs') %>
            
            <div class="page-content">
                <%- include('../layouts/adminNav.ejs') %>
               
                <main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content">
                    <div class="dashboard-page-content">
                        <div class="row mb-9 align-items-center justify-content-between">
                            <div class="col-sm-6 mb-8 mb-sm-0">
                                <h2 class="fs-4 mb-0">Order List</h2>
                             
                            </div>
                        </div>
                        <div class="card rounded-4">
                           
                            <div class="card-body p-7">
                                <div class="row mb-8 mt-4 order-info-wrap">
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle px-6 py-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-user px-1"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Customer</h6>
                                                <p class="mb-4">
                                                     <br>
                                                     <strong style="color: azure;">Name: </strong><%=singleData.UserId.name  %>
                                                    <br>
                                                    <strong style="color: azure;">Phone: </strong><%=singleData.UserId.mobile  %>
                                                    <br>
                                                    
                                                </p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-7">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-truck px-2"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Order info</h6>
                                                <p class="mb-4">
                                                    <br>

                                                    <strong style="color: azure;">Method :</strong> <%=singleData.payment %>  <br>
                                                    <strong style="color: azure;">Payment Status :</strong> <%=singleData.paymentStatus  %> <br>
                                                     
                                                </p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex flex-nowrap">
                                            <div class="icon-wrap">
                                                <span
                                                    class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                    <i class="fas fa-truck px-2"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-4">Deliver to</h6>
                                                <p class="mb-4">
                                                  <%= singleData.deliveryAddress.name %></span><br>
                                                   <%=singleData.deliveryAddress.street %>, <%=singleData.deliveryAddress.locality %><br>
                                                   <%= singleData.deliveryAddress.city %>, <%= singleData.deliveryAddress.state %>, <%= singleData.deliveryAddress.pincode %><br>
                                                   Phone: <%= singleData.deliveryAddress.phone %>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                        <th class="text-end">Total</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <% singleData.products.forEach(data => { %>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center flex-nowrap">
                                                                <a href="../shop/product-details-v1.html" title="<%= data.productId.name %>">
                                                                    <img src="<%= data.productId.images[0] %>" alt="<%= data.productId.name %>" class="lazy-image" width="60" height="80">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td> ₹ <%= data.productPrice.toFixed(2) %></td>
                                                        <td>  <%= data.quantity %></td>
                                                        <td>
                                                            
                                                            <form action="/admin/updateStatus" method="POST" style="display: inline;">
                                                                <input type="hidden" name="orderId" value="<%= singleData._id %>">
                                                                <input type="hidden" name="productId" value="<%= data.productId._id %>">
                                                                <select name="status" class="form-select form-select-sm d-inline w-auto" onchange="this.form.submit()">
                                                                    <option ><%= data.ProductStatus %></option>
                                                                    <option <%= data.ProductStatus == 'Shipped' ? 'hidden' : '' %> >Shipped</option>
                                                                    <option <%= data.ProductStatus == 'Delivered' ? 'hidden' : '' %> >Delivered</option>
                                                                    <option <%= data.ProductStatus == 'Cancelled' ? 'hidden' : '' %> >Canceled</option>
                                                                    <option <%= data.ProductStatus == 'Returned' ? 'hidden' : '' %> >Return</option>
                                                                    <option <%= data.ProductStatus == 'Pending' ? 'hidden' : '' %> >Pending</option>
                                                                    <option <%= data.ProductStatus == 'Pending' ? 'hidden' : '' %> >Ordered</option>
                                                                </select>
                                                            </form>
                                                        </td>
                                                        <td class="text-end"> ₹ <%= data.productPrice * data.quantity%></td>
                                                        
                                                    </tr>
                                                    <% }) %>
                                                    

                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <th colspan="4" class="text-end" style="padding-left: 700px">
                                                            <strong style="color: #e0ece4; font-size: 1.5rem; font-family:monospace;" >Total Price :</strong>
                                                      
                                                            <strong style="color: #a8aca9; font-size: 1.3rem; font-family: serif;"> ₹ <%=singleData.orderAmount.toFixed(2) %></strong>
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                               
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                  
                        
                    </div>
                  
                </main>
            </div>
        </div>
    </div>
    <%- include('../layouts/adminFooter.ejs') %>
			<%- include('../layouts/svg2.ejs') %>
    
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/dashboard/order-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:47:30 GMT -->

</html>