<nav aria-label="Page navigation example" class="mt-6 mb-4">
    <ul class="pagination justify-content-start">
        <% if (currentPage > 1) { %>
            <li class="page-item mx-3">
                <a class="page-link" href="?page=<%= currentPage - 1 %>">Prev</a>
            </li>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage == i ? 'active' : '' %> mx-3">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <li class="page-item mx-3">
                <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>

