<%- include('../layouts/header.ejs')  %>

<body>
    <!-- Main nav bar  -->
    <header id="header" class="header header-sticky header-sticky-smart disable-transition-all z-index-5">
        <div class="bg-primary bg-opacity-15">
            <div class="container-xxl container d-flex py-4">
                <div class="w-50 d-none d-lg-block">
                    <ul class="social-icons list-inline mb-0 fs-14">
                        <li class="list-inline-item ">
                            <a href="#" title="Twitter">
                                <svg class="icon">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item  ms-6">
                            <a href="#" title="Facebook">
                                <svg class="icon">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item  ms-6">
                            <a href="#" title="Instagram">
                                <svg class="icon">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item  ms-6">
                            <a href="#" title="Youtube">
                                <svg class="icon">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
              
                <div class="w-50 d-none d-lg-block">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="dropdown me-10">
                            <span class="d-inline-block me-3"><img src="./assets/images/header/flag.html" alt></span>
                            <button
                                class="btn btn-link  fw-semibold text-uppercase ls-1 p-0 dropdown-menu-end fs-13px"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">English
                            </button>
                            <div class="dropdown-menu dropdown-menu-end py-5" style="min-width: unset">
                                <a class="dropdown-item py-1" href="#">French</a>
                                <a class="dropdown-item py-1" href="#">Spanish</a>
                                <a class="dropdown-item py-1" href="#">Korean</a>
                                <a class="dropdown-item py-1" href="#">Chinese</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button
                                class="btn btn-link  fw-semibold text-uppercase ls-1 p-0 dropdown-menu-end fs-13px"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">USD
                            </button>
                            <div class="dropdown-menu dropdown-menu-end py-5" style="min-width: unset">
                                <a class="dropdown-item py-1" href="#">EUR</a>
                                <a class="dropdown-item py-1" href="#">GBP</a>
                                <a class="dropdown-item py-1" href="#">JPY</a>
                                <a class="dropdown-item py-1" href="#">AUD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-area">
            <div class="main-header nav navbar bg-body navbar-light navbar-expand-xl py-6 py-xl-0">
                <div class="container-xxl container">
                    <div class="d-flex d-xl-none w-100">
                        <div class="w-72px d-flex d-xl-none">
                            <button
                                class="navbar-toggler align-self-center  border-0 shadow-none px-0 canvas-toggle p-4"
                                type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasNavBar"
                                aria-controls="offCanvasNavBar" aria-expanded="false" aria-label="Toggle Navigation">
                                <span class="fs-24 toggle-icon"></span>
                            </button>
                        </div>
                        <div class="d-flex mx-auto">
                            <a href="index-2.html" class="navbar-brand px-8 py-4 mx-auto">
                                <img class="light-mode-img" src="/assets/images/others/logo.png" width="179" height="26"
                                    alt="Glowing - Bootstrap 5 HTML Templates">
                                <img class="dark-mode-img" src="/assets/images/others/logo-white.png" width="179"
                                    height="26" alt="Glowing - Bootstrap 5 HTML Templates"></a>
                        </div>
                        <div class="icons-actions d-flex justify-content-end w-xl-50 fs-28px text-body-emphasis">
                            <div class="px-xl-5 d-inline-block">
                                <a class="lh-1 color-inherit text-decoration-none" href="#" data-bs-toggle="offcanvas"
                                    data-bs-target="#searchModal" aria-controls="searchModal" aria-expanded="false">
                                    <svg class="icon icon-magnifying-glass-light">
                                        <use xlink:href="#icon-magnifying-glass-light"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="color-modes position-relative ps-5">
                                <a class="bd-theme btn btn-link nav-link  d-inline-flex align-items-center justify-content-center text-primary p-0 position-relative rounded-circle"
                                    href="#" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static"
                                    aria-label="Toggle theme (light)">
                                    <svg class="bi my-1 theme-icon-active">
                                        <use href="#sun-fill"></use>
                                    </svg>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end fs-14px" data-bs-popper="static">
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center active"
                                            data-bs-theme-value="light" aria-pressed="true">
                                            <svg class="bi me-4 opacity-50 theme-icon">
                                                <use href="#sun-fill"></use>
                                            </svg>
                                            Light
                                            <svg class="bi ms-auto d-none">
                                                <use href="#check2"></use>
                                            </svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center"
                                            data-bs-theme-value="dark" aria-pressed="false">
                                            <svg class="bi me-4 opacity-50 theme-icon">
                                                <use href="#moon-stars-fill"></use>
                                            </svg>
                                            Dark
                                            <svg class="bi ms-auto d-none">
                                                <use href="#check2"></use>
                                            </svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center"
                                            data-bs-theme-value="auto" aria-pressed="false">
                                            <svg class="bi me-4 opacity-50 theme-icon">
                                                <use href="#circle-half"></use>
                                            </svg>
                                            Auto
                                            <svg class="bi ms-auto d-none">
                                                <use href="#check2"></use>
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-xl-flex flex-column flex-xl-row w-100">
                        <div class="w-auto w-xl-50 d-flex align-items-center">
                            <div class="pe-6">
                                <a class="lh-1 color-inherit text-decoration-none" href="#"
                                   data-bs-toggle="offcanvas" data-bs-target="#searchModal"
                                   aria-controls="searchModal" aria-expanded="false">
                                   <svg class="icon icon-magnifying-glass-light fs-5">
                                       <use xlink:href="#icon-magnifying-glass-light"></use>
                                   </svg>
                                   <span class="fs-15px">Search</span>
                                </a>
                            </div>
                        </div>
                            <ul class="navbar-nav w-100 w-xl-auto">
                                <li
                                    class="nav-item transition-all-xl-1 py-xl-11 py-0 px-xxl-8 px-xl-6 dropdown dropdown-hover dropdown-fullwidth">
                                    <a class="nav-link d-flex justify-content-between position-relative py-xl-0 px-xl-0 text-uppercase fw-semibold ls-1 fs-15px fs-xl-14px "
                                        href="/" id="menu-item-home"
                                        aria-haspopup="true" aria-expanded="false">Home</a>
                                   
                                </li>
                                <li
                                    class="nav-item transition-all-xl-1 py-xl-11 py-0 px-xxl-8 px-xl-6 dropdown dropdown-hover dropdown-fullwidth position-static">
                                    <a class="nav-link d-flex justify-content-between position-relative py-xl-0 px-xl-0 text-uppercase fw-semibold ls-1 fs-15px fs-xl-14px "
                                        href="/shop"  id="menu-item-shop"
                                        aria-haspopup="true" aria-expanded="false">Shop</a>
                                 
                                </li>
                            
                            </ul>
                        </div>
                        <div class="px-10 d-none d-xl-flex align-items-center ">
                            <a href="/" class="navbar-brand px-8 py-4 mx-auto">
                                <img class="light-mode-img" src="/assets/images/others/logo.png" width="179" height="26"
                                    alt="Glowing - Bootstrap 5 HTML Templates">
                                <img class="dark-mode-img" src="/assets/images/others/logo-white.png" width="179"
                                    height="26" alt="Glowing - Bootstrap 5 HTML Templates"></a>
                        </div>
                        <div class="w-auto w-xl-50 d-flex align-items-center">
                            <ul class="navbar-nav w-100 w-xl-auto">
                                <li
                                    class="nav-item transition-all-xl-1 py-xl-11 py-0 px-xxl-8 px-xl-6 dropdown dropdown-hover dropdown-fullwidth">
                                    <a class="nav-link d-flex justify-content-between position-relative py-xl-0 px-xl-0 text-uppercase fw-semibold ls-1 fs-15px fs-xl-14px "
                                        href="/about" id="menu-item-blocks" aria-haspopup="true"
                                        aria-expanded="false">About</a>
                                   
                                </li>
                                <li
                                    class="nav-item transition-all-xl-1 py-xl-11 py-0 px-xxl-8 px-xl-6 dropdown dropdown-hover dropdown-fullwidth">
                                    <a class="nav-link d-flex justify-content-between position-relative py-xl-0 px-xl-0 text-uppercase fw-semibold ls-1 fs-15px fs-xl-14px "
                                        href="/contact"  id="menu-item-docs" aria-haspopup="true"
                                        aria-expanded="false">Contact</a>
                                  
                                </li>
                            </ul>
                            <!-- user area -->
                            <div
                                class="icons-actions d-none d-xl-flex justify-content-end ms-auto fs-28px text-body-emphasis">
                                <!-- profile icon -->
                                <div class="px-5 d-none d-xl-inline-block">
                               
                                 
                                    <a class="lh-1 color-inherit text-decoration-none" href="/login"
                                
                                     >
                                        <svg class="icon icon-user-light">
                                            <use xlink:href="#icon-user-light"></use>
                                        </svg>
                                    </a>
                                </div>
                                <!-- wishlist -->
                                <div class="px-5 d-none d-xl-inline-block">
                                    <a class="position-relative lh-1 color-inherit text-decoration-none"
                                        href="/wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                        <span
                                            class="badge bg-dark text-white position-absolute top-0 start-100 translate-middle mt-4 rounded-circle fs-13px p-0 square"
                                            style="--square-size: 18px">3</span>
                                    </a>
                                </div>
                                <!-- cart -->
                                <div class="px-5 d-none d-xl-inline-block">
                                    <a class="position-relative lh-1 color-inherit text-decoration-none" href="/cart"
                                        >
                                        <svg class="icon icon-shopping-bag-open-ligh">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                        <span
                                            class="badge bg-dark text-white position-absolute top-0 start-100 translate-middle mt-4 rounded-circle fs-13px p-0 square"
                                            style="--square-size: 18px">3</span>
                                    </a>
                                </div>
                                <!-- theams -->
                                <div class="color-modes position-relative ps-5">
                                    <a class="bd-theme btn btn-link nav-link  d-inline-flex align-items-center justify-content-center text-primary p-0 position-relative rounded-circle"
                                        href="#" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static"
                                        aria-label="Toggle theme (light)">
                                        <svg class="bi my-1 theme-icon-active">
                                            <use href="#sun-fill"></use>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end fs-14px" data-bs-popper="static">
                                        <li>
                                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                                data-bs-theme-value="light" aria-pressed="true">
                                                <svg class="bi me-4 opacity-50 theme-icon">
                                                    <use href="#sun-fill"></use>
                                                </svg>
                                                Light
                                                <svg class="bi ms-auto d-none">
                                                    <use href="#check2"></use>
                                                </svg>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="dropdown-item d-flex align-items-center"
                                                data-bs-theme-value="dark" aria-pressed="false">
                                                <svg class="bi me-4 opacity-50 theme-icon">
                                                    <use href="#moon-stars-fill"></use>
                                                </svg>
                                                Dark
                                                <svg class="bi ms-auto d-none">
                                                    <use href="#check2"></use>
                                                </svg>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="dropdown-item d-flex align-items-center"
                                                data-bs-theme-value="auto" aria-pressed="false">
                                                <svg class="bi me-4 opacity-50 theme-icon">
                                                    <use href="#circle-half"></use>
                                                </svg>
                                                Auto
                                                <svg class="bi ms-auto d-none">
                                                    <use href="#check2"></use>
                                                </svg>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main nav bar end here -->
    

    <!-- navbar -->
    <main id="content" class="wrapper layout-page">
        
        <section class="page-title z-index-2 position-relative">
            <div class="bg-body-secondary">
                <div class="container">
                    <nav class="py-4 lh-30px" aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center py-1">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="text-center py-13">
                <div class="container">
                    <h2 class="mb-0">Shop</h2>
                </div>
            </div>
        </section>
        <section class="container container-xxl">
            <div class="tool-bar mb-11 align-items-center justify-content-between d-lg-flex">
                <div class="tool-bar-left mb-6 mb-lg-0 fs-18px">We found <span
                        class="text-body-emphasis fw-semibold"><%=Productss.length %></span> products available for you</div>
                <div class="tool-bar-right align-items-center d-lg-flex">
                    <ul class="list-unstyled d-flex align-items-center list-inline me-lg-7 me-0 mb-6 mb-lg-0">
                        <li class="list-inline-item me-7">
                            <a class="fs-32px text-body-emphasis-hovertext-body-emphasis" href="#">
                                <svg class="icon icon-squares-four">
                                    <use xlink:href="#icon-squares-four"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item me-0">
                            <a class="fs-32px text-body-emphasis-hover  text-muted" href="shop-layout-v5.html">
                                <svg class="icon icon-list">
                                    <use xlink:href="#icon-list"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item d-lg-none ms-auto">
                            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                                class="btn btn-hover-border-primary btn-hover-bg-primary btn-hover-text-light btn-dark"><svg
                                    class="icon icon-SlidersHorizontal fs-4 me-4">
                                    <use xlink:href="#icon-SlidersHorizontal"></use>
                                </svg> Filter</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex align-items-center list-inline mb-0">
                        <li class="list-inline-item me-0 w-100 w-lg-auto">
                            <select onchange="sort(this)" class="form-select w-100 w-lg-auto" name="orderby">
                                <option selected="selected"> <a href="/shop"></a>Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option  value="/shop?sort=byLatest"> Sort by latest</option>
                                <option value="/shop?sort=lowToHigh">Sort by price: low to high</option>
                                <option value="/shop?sort=highToLow">Sort by price: high to low</option>
                            </select>
                        </li>
                        <li class="list-inline-item d-none d-lg-block ms-7">
                            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                                class="btn btn-hover-border-primary btn-hover-bg-primary btn-hover-text-light btn-dark"><svg
                                    class="icon icon-SlidersHorizontal fs-4 me-4">
                                    <use xlink:href="#icon-SlidersHorizontal"></use>
                                </svg> Filter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title fs-3" id="offcanvasExampleLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <aside class="primary-sidebar ">
                    <!-- <div class="widget widget-product-category">
                        <h4 class="widget-title fs-5 mb-6">Categories</h4>
                        <ul class="navbar-nav navbar-nav-cate" id="widget_product_category">
                           
                            <li class="nav-item">
                                <a href="" title="Body Care"
                                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center text-uppercase fs-14px fw-semibold letter-spacing-5"><span
                                       
                                    class="text-hover-underline"></span></a>
                            </li> 
                           
                         
                        </ul>
                    </div> -->
                       <!-- <div class="mb-8 d-flex align-items-center   " style="gap: 1rem;">
            <div class="">
                <label  for="product_title"
                class="mb-4 fs-13px ls-1 fw-bold text-uppercase"><h4>Category</h4>
            </label>
            <select name="category" id="">
                 
                    <option value=" ">
                       
                    </option>
                    
            </select>
            
            </div>
        </div> -->

      


        <div class="col-lg-8">
            <label class="mb-4 fs-13px ls-1 fw-bold text-uppercase" for="category"></label>
            <select onchange="filter(this)" class="form-select" id="category">
                <option value=""  selected>All Category</option>
                <% categories.forEach((category)=> { %>
                    <option <%=cat==category._id?"selected":false%> value="<%= category._id%>"><%= category.catName %></option>
                    <% }); %>
            </select>
        </div>
        
        
                    <!-- <div class="widget widget-product-hightlight">
                        <h4 class="widget-title fs-5 mb-6">Hightlight</h4>
                        <ul class="navbar-nav navbar-nav-cate" id="widget_product_hightlight">
                            <li class="nav-item">
                                <a href="#" title="Best Seller"
                                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                        class="text-hover-underline">Best Seller</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="New Arrivals"
                                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                        class="text-hover-underline">New Arrivals</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="Sale"
                                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                        class="text-hover-underline">Sale</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="Hot Items"
                                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                        class="text-hover-underline">Hot Items</span></a>
                            </li>
                        </ul>
                    </div> -->
                    
                </aside>
            </div>
        </div>
        
        <div class="container container-xxl pb-16 pb-lg-18 mb-lg-3">
            <div class="row gy-50px">
                
                <%Productss.forEach((product)=>{  %>
                   
                <div class="col-sm-6  col-lg-4 col-xl-3">
                    <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                            <a href="/singleProduct/<%=product._id%>" class="hover-zoom-in d-block" title="<%=product.productName  %>">
                                <img src="<%=product.images[0]%>" data-src=""
                                    class="img-fluid lazy-image w-100" alt="Shield Conditioner" width="330"
                                    height="440">
                            </a>
                            <% if(product.stock==0){  %>
                            <div class="position-absolute product-flash z-index-2 "><span
                                    class="badge badge-product-flash on-sale bg-primary">Sold Out</span></div>
                                    <% } %>
                            <div class="position-absolute d-flex z-index-2 product-actions  horizontal"><a
                                    class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart"
                                    href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title="Add To Cart" onclick="addCart('<%=product._id%>')">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                          
                                <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist"
                                    href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title="Add To Wishlist" onclick="addToWishlist('<%= product._id %>')">
                                    <svg  class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                             
                            </div>
                        </figure>
                        
                        <div class="card-body text-center p-0">
                            <% if (product.offer > 0) { %>
                                <div style="gap: 10px;" class="d-flex align-items-center justify-content-center mb-3 fs-6">
                                    
                                    <span class="price text-body-emphasis me-2" style="font-weight: 100;">
                                        <s>₹ <%= product.price %>.00</s>
                                    </span>
                            
                                    <span class="price text-body-emphasis fw-bold me-2">
                                        ₹ <%= product.offerPrice %>.00
                                    </span>
                            
                                    <% 
                                        let discountPercentage = Math.round(((product.price - product.offerPrice) / product.price) * 100);
                                    %>
                                    <span class="fs-6 text-danger">
                                        (<%= discountPercentage %>% off)
                                    </span>
                                </div>
                            <% } else { %>
                                <div class="d-flex align-items-center justify-content-center mb-3 fs-6">
                                  
                                    <span class="price text-body-emphasis fw-bold">
                                        ₹ <%= product.price %>.00
                                    </span>
                                </div>
                            <% } %>
                            
                            <h4
                                class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" > <%=product.productName%></a></h4>
                           
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
           
        </div>
        <%- include('../layouts/userPagination.ejs') %>

    </main>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
          function filter(item){
            window.location.href="/shop?cat="+item.value
        }

        //................................ sorting

        function sort(e){
            
            window.location.href=e.value
        }

        // ..................................add cart

        async function addCart(id) {
                  console.log('slls') 
                   
                    const {data}= await axios.patch('/addCart', { id })
                    if(data.success){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "success",
                        title: "successfully added"
                    });
                    }else if(data.fail){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "error",
                        title: "product already exists"
                    });
                    }
                }


                // ......................................add wishlist

        async function addToWishlist(id) {
    try {
        const response = await axios.patch('/addWishlist', { id });

        // Initialize SweetAlert
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        if (response.data.success) {
            // Show success message
            Toast.fire({
                icon: "success",
                title: "Successfully added to wishlist"
            });
        } else if (response.data.fail) {
            // Show error message for already existing product
            Toast.fire({
                icon: "error",
                title: "Product already exists in wishlist"
            });
        }
    } catch (error) {
        console.log(error.message);
        // Show generic error message
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong! Please try again later.',
        });
    }
}

      

    </script>
    <!-- footer -->
    <%- include('../layouts/footer.ejs') %>
    <!-- footer -->
    <!-- layout footer -->
   
    <!-- layout footer -->
    <%- include('../layouts/layoutFooter.ejs') %>
    <!--layoutFooter  -->

    <!-- svg -->
    <%- include('../layouts/svg.ejs') %>
    <!-- svg -->

    <!-- search  -->
    <%- include('../layouts/search.ejs') %>
    <!-- search -->

    <!-- mobile nav bar -->
    <%- include('../layouts/mobileNavbar.ejs') %>
    <!-- mobile nav bar -->


    <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
        <a href="#"
            class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
            title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

</html>