<%- include('../layouts/header.ejs') %>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- nav bar -->
        <%- include('../layouts/navbar.ejs') %>
            <!-- navbar -->

            <main id="content" class="wrapper layout-page">
                <section class="z-index-2 position-relative pb-2 mb-12">
                    <div class="bg-body-secondary mb-3">
                        <div class="container">
                            <nav class="py-4 lh-30px" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center py-1 mb-0">
                                    <li class="breadcrumb-item"><a title="Home" href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a title="Shop" href="/shop">Shop</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Single Product
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </section>
                <section class="container pt-6 pb-13 pb-lg-20">
                    <div class="row ">
                        <div class="col-md-6 pe-lg-13 pb-12">
                            <div class="position-sticky top-0">
                                <div class="slick-slider g-0 "
                                    data-slick-options="{&#34;arrows&#34;:false,&#34;imageSize&#34;:{&#34;img&#34;:{&#34;height&#34;:720,&#34;width&#34;:540}},&#34;items&#34;:[{&#34;img&#34;:&#34;/assets/images/shop/product-gallery-05.jpg&#34;},{&#34;img&#34;:&#34;/assets/images/shop/product-gallery-06.jpg&#34;},{&#34;img&#34;:&#34;/assets/images/shop/product-gallery-07.jpg&#34;},{&#34;img&#34;:&#34;/assets/images/shop/product-gallery-08.jpg&#34;}],&#34;slidesToShow&#34;:1}">
                                    <a href="" data-gallery="gallery4"><img src="<%=singleProduct.images[0]%>"
                                            class="lazy-image" alt></a>
                                    <a href="/images/shop/product-gallery-06.jpg" data-gallery="gallery4"><img
                                            src="<%=singleProduct.images[1]%>" class="lazy-image" alt></a>
                                    <a href="/images/shop/product-gallery-07.jpg" data-gallery="gallery4"><img
                                            src="<%=singleProduct.images[2]%>" class="lazy-image" alt></a>
                                    <a href="/images/shop/product-gallery-08.jpg" data-gallery="gallery4"><img
                                            src="<%=singleProduct.images[3]%>" class="lazy-image" alt></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-0 pt-10">
                            <% if(singleProduct.offer > 0){ %>
                            <p class="d-flex align-items-center mb-6">
                                <!-- <span class="text-decoration-line-through">39.00</span> -->
                                <span class="text-body-emphasis" style="font-weight: bold;">Price :</span>
                                <span class="fs-18px text-body-emphasis ps-6 fw-bold">
                                   <s><%=singleProduct.price%></s>.00
                                </span>
                                <span class="fs-18px text-body-emphasis ps-6 fw-bold">
                                   <%=singleProduct.offerPrice%>.00
                                </span>
                                <!-- <span class="badge text-bg-primary fs-6 fw-semibold ms-7 px-6 py-3">20%</span> -->
                            </p>
                            <% }else{ %>
                                <p class="d-flex align-items-center mb-6">
                                    <!-- <span class="text-decoration-line-through">39.00</span> -->
                                    <span class="text-body-emphasis" style="font-weight: bold;">Price :</span>
                                    <span class="fs-18px text-body-emphasis ps-6 fw-bold">
                                       <%=singleProduct.price%>.00
                                    </span>
                    
                                </p>
                                <% } %>
                            <h1 class="mb-4 pb-2 fs-4">
                                <%=singleProduct.productName%>
                            </h1>
                            
                            <p class="fs-15px">
                                <%=singleProduct.description%>
                            </p>

                            <div class="row align-items-end">
                                <div class="col-12">
                                    <% if(!singleProduct.stock==0){ %>
                                    <button
                                        class="btn btn-lg btn-dark btn-block mb-7 mt-8 w-100 btn-hover-bg-primary btn-hover-border-primary"
                                        onclick="addCart('<%=singleProduct._id%>')">
                                        Add To Cart
                                    </button>
                                    <% }else{ %>
                                        <button
                                        class="btn btn-lg btn-dark btn-block mb-7 mt-8 w-100 btn-hover-bg-primary btn-hover-border-primary">
                                        Out Of Stock
                                    </button>
                                        <%  }%>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <a  
                                    class="text-decoration-none fw-semibold fs-6 me-9 pe-2 d-flex align-items-center">
                                    <svg onclick="addToWishlist('<%=singleProduct._id%>')" class="icon fs-5">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                    <span class="ms-4 ps-2">Add to wishlist</span>
                                </a>
                              
                            </div>
                            <ul class="single-product-meta list-unstyled border-top pt-7 mt-7">
                                <li class="d-flex mb-4 pb-2 align-items-center">
                                    <span class="text-body-emphasis fw-semibold fs-14px">Brand :</span>
                                    <span class="ps-4">
                                        <%=singleProduct.brand.brandName%>
                                    </span>
                                </li>
                                <li class="d-flex mb-4 pb-2 align-items-center">
                                    <span class="text-body-emphasis fw-semibold fs-14px">Categories:</span>
                                    <span class="ps-4"><%=singleProduct.categoryId.catName %></span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    </div>
                </section>
                
               
            </main>

            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
               async function addCart(id) {
                  console.log('slls') 
                   
                    const {data}= await axios.patch('/addCart', { id })
                    if(data.success){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "success",
                        title: "successfully added"
                    });
                    }else if(data.fail){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "error",
                        title: "product already exists"
                    });
                    }
                }

                // .........wishlist

                async function addToWishlist(id){
                    console.log(id,'asdfgh');
                    const response= await axios.patch('/addWishlist',{id})

                    if(response.data.success){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "success",
                        title: "successfully added"
                    });
                    }else if(response.data.fail){
                        const Toast = Swal.mixin({
                        toast: true,
                       
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                   
                    Toast.fire({
                     
                        icon: "error",
                        title: "product already exists"
                    });
                    }
                }
                
                
            </script>

            <!-- footer -->
            <%- include('../layouts/footer.ejs') %>
                <!-- footer -->
                <!-- layout footer -->

                <!-- layout footer -->
                <%- include('../layouts/layoutFooter.ejs') %>
                    <!--layoutFooter  -->

                    <!-- svg -->
                    <%- include('../layouts/svg.ejs') %>
                        <!-- svg -->

                        <!-- search  -->
                        <%- include('../layouts/search.ejs') %>
                            <!-- search -->

                            <!-- mobile nav bar -->
                            <%- include('../layouts/mobileNavbar.ejs') %>
                                <!-- mobile nav bar -->


                                <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
                                    <a href="#"
                                        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
                                        title="Back To Top" style="--square-size: 48px"><i
                                            class="fa-solid fa-arrow-up"></i></a>
                                </div>
    </body>

    <!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

    </html>