<%- include('../layouts/header.ejs')  %>

<body>
    <!-- nav bar -->
    <%- include('../layouts/navbar.ejs') %>
    <!-- navbar -->
    <main id="content" class="wrapper layout-page">
        <div class="dashboard-page-content">
            <div class="row mb-9 align-items-center justify-content-between">
                <div class="col-sm-6 mb-8 mb-sm-0">
                    <h2 class="fs-4 mb-0">Order Details</h2>
                </div>
            </div>
            <div class="card mb-4 rounded-4 p-7">
                <div class="card-body pt-7 pb-0 px-0">
                    <div class="row mx-n8">
                        <!-- sidbar  -->
                        <aside class="col-lg-3 border-end px-8">
                            <nav class="nav nav-pills flex-lg-column mb-7 nav-add-product">
                                <a class="nav-link active" id="profile-details-tab" href="/myAccount#orders" ><i class="ri-arrow-left-line"></i> Back To Profile</a>
                              
                            </nav>
                            <div class="mt-4 " >
                                <a class="btn btn-primary" href="/invoice/<%=singleData._id %>">Invoice</a>
                            </div>
                        </aside>
    <!-- dets -->
                        <div class="col-lg-9 px-8">
                            <!-- melethe div -->
                            <div style=" border-bottom: 1px dashed gray;" class="row mb-8 mt-4 order-info-wrap">
                                <div class="col-md-4 mb-md-0 mb-7">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle px-6 py-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-user px-1"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Customer</h6>
                                            <p class="mb-4">
                                                 <br>
                                                 <strong style="color: #eee;">Name :</strong> <%=singleData.UserId.name  %>
                                                <br>
                                                <strong style="color: #eee;">Mobile :</strong> <%=singleData.UserId.mobile  %>
                                                <br>
                                                
                                            </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-md-0 mb-7">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-truck px-2"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Order info</h6>
                                            <p class="mb-4">
                                                <br>

                                                <strong style="color: #eee;">Method :</strong> <%=singleData.payment%><br>
                                                <strong style="color: #eee;">Status :</strong> <%=singleData.paymentStatus%>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-truck px-2"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Deliver to</h6>
                                            <p class="mb-4">
                                                 <%= singleData.deliveryAddress.name %></span><br>
                                               <%=singleData.deliveryAddress.street %> ,  <%=singleData.deliveryAddress.locality %><br>
                                               <%= singleData.deliveryAddress.city %> ,   <%= singleData.deliveryAddress.state %> ,  <%= singleData.deliveryAddress.pincode %><br>
                                                <strong style="color: #eee;">Phone : </strong><%= singleData.deliveryAddress.phone %>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- thazhathe div -->
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <thead style="background-color: #343A40; color: #fff;">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th style="padding-right: 30px; text-align: start;">Total</th>
                                                    <!-- <th style="padding-left: 30px; text-align: end;"></th> -->
                                                    <th style="padding-left: 30px; text-align: end;">Action</th>

                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <% let status = singleData.paymentStatus %>
                                                <% let paymentMethod = singleData.payment %>
                                                
                                                <% let amount = 0 %>


                                                <% singleData.products.forEach(data => { %>
                                                  
                                                     <!-- for getting the order amount -->
                                                    <%amount=data.productId.offerPrice*data.quantity  %>
                                                     
                                                <tr style="border-bottom: .5px solid gray;">
                                                    <td>
                                                        <div class="d-flex align-items-center flex-nowrap">
                                                            <a href="../shop/product-details-v1.html" title="Flowers cotton dress">
                                                                <img src="<%=data.productId.images[0] %>" data-src="" alt="Flowers cotton dress"
                                                                    class="lazy-image" width="60" height="80">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>₹ <%=data.productPrice.toFixed(2) %></td>
                                                    <td><%=data.quantity%></td>
                                                    <td style="text-align:start;" >₹ <%=data.productPrice * data.quantity %> .00</td>
                                                
                                                    <td style="text-align: end;"> 
                                                        
                                                        <% if( paymentMethod=='Online Payment'&&status=='Pending' ){ %>
                                                           
                                                            <button class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-15px btn-xs me-3" onclick="Repay('<%=singleData._id%>','<%=data._id%>','<%=amount%>')" <% if(status=='pending'){ %> disabled<% } %>>
                                                                Re Pay
                                                            </button>
                                                        <% } else if((data.ProductStatus=='Delivered' || data.ProductStatus=='Return') && status=='Paid'){ %>
                                                    
                                                            <button class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-15px btn-xs me-3" onclick="returnRequest('<%=singleData._id%>','<%=data._id%>')" <% if (data.ProductStatus === 'Return') { %> disabled <% } %>>Return</button>
                                                    
                                                        <% } else if((data.ProductStatus=='Ordered' || data.ProductStatus=='Shipped' || data.ProductStatus=='Canceled') || status=='Pending'){ %>  
                                                    
                                                            <button class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-15px btn-xs me-3" onclick="cancelOrder('<%=singleData._id%>','<%=data._id%>')" <% if (data.ProductStatus === 'Canceled') { %> disabled <% } %>>cancel</button>
                                                        <% } %>
                                                    </td>
                                                    
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>

        

        .amount{
        /* box-shadow:1px 1px 1px 8px rgb(219, 211, 211); */
            width: 100%;
            height: 3rem;
            border-radius: 10px;
            background-color: #343a40 ;
            border: 0;
        }
        
    
    
    body {
    
      height: 100vh;
    
    }
    
    .select-menu {
      width: 300px;
      cursor: pointer;
      position: relative;
    }
    
    .select {
      border: 1px solid;
      padding: 10px;
      color: #8b928e;
      font-weight: 500;
      border-radius: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      
    
    
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    
    .options-list {
      position: absolute;
      width: 100%;
      background-color: #343a40;
      border-radius: 6px;
    
      padding: 0 20px;
    
      overflow-y: auto;
      -webkit-transition: .4s linear .2s;
      -o-transition: .4s linear .2s;
      transition: .4s linear .2s;
      height: 0;
    }
    
    .option {
      padding: 8px 0;
      font-weight: 500;
      font-size: 14px;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    
    
    
    .options-list::-webkit-scrollbar {
      width: 4px;
      background-color: #eee;
    }
    
    
    
    .options-list.active {
      height: 180px;
    }
    
        
    </style>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>const select = document.querySelector(".select");
        const options_list = document.querySelector(".options-list");
        const options = document.querySelectorAll(".option");
    
        //show & hide options list
        select.addEventListener("click", () => {
          options_list.classList.toggle("active");
          select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });
    
        //select option
        options.forEach((option) => {
          option.addEventListener("click", () => {
            options.forEach((option) => { option.classList.remove('selected') });
            select.querySelector("span").innerHTML = option.innerHTML;
            option.classList.add("selected");
            options_list.classList.toggle("active");
            select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
          });
        })</script>


            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <script>

            async function Repay(orderId,productId,finalAmount){
                
                if(!finalAmount){
                    alert('Amount is not specified. Please try again.')
                    return
                }
                razorPay(orderId,productId,finalAmount)

            }


            function razorPay(orderId,productId,finalAmount) {
                
                
                fetch('/razors', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ amount:finalAmount })
                }).then(res => res.json()).then(data => {
                    if (data.success) {
        
                        let options = {
                            "key": `${data.key_id}`,
                            "amount":finalAmount*100,
                            "currency": "INR",
                            "name": "GLOWING",
                            "handler": function (response) {
                                
                                    axios.post('/rePayment',{
                                        orderId:orderId,
                                        productId:productId,
                                        amount:finalAmount

                                    })
                                    .then(response=>{
                                            const updateData = response.data
                                            if(updateData.success){
                                                window.location.href = '/order'
                                            }else{
                                                alert('payment failed')
                                            }
                                    }).catch(error=>{
                                        console.log(error);
                                        alert('There was a problem while payment')
                                        
                                    })

                            },
                            "prefill": {
                                "name": data.name, 
                                "email": data.email  
                            }
                            
                        }

                        let razorpayObject = new Razorpay(options);
                        razorpayObject.on('payment.failed', function (response) {
                            alert('Payment failed. Please try again.');
                
                        });
                        razorpayObject.open();
                        
                    } 
                })
                .catch(error => {
                console.error('Error:', error);
                });

                }



// .................cancel order



async function cancelOrder(orderId,productId) {
  try {
    // Show SweetAlert modal for the cancellation reason input
    const { value: cancelReason } = await Swal.fire({
      title: "Cancel reason",
      input: "text",
      inputLabel: "Cancel reason",
      showCancelButton: true,
      inputValidator: (value) => {
        if (!value) {
          return "Please enter a valid reason";
        }
      }
    });

    if (cancelReason) {
      
    //   console.log('Product ID:', productId);
    //   console.log('Order ID:', orderId);
    //   console.log('Cancel Reason:', cancelReason);

      
      const response = await axios.post('/cancelOrder', {
        productId,
        orderId,
        cancelReason
      });

      // Check the response
    //   console.log('Response:', response);

      
      if (response.data.loginRequired) {
        window.location.href = '/login';
      } else if (response.data.success) {
        await Swal.fire({
          title: "Success",
          text: "Order has been cancelled",
          icon: "success",
          showConfirmButton: false,
          timer: 1500
        });

        window.location.reload();
      } else {
        
        Swal.fire({
          title: "Error",
          text: response.data.message || "Could not cancel the order",
          icon: "error",
        });
      }
    }
  } catch (error) {
    
    Swal.fire({
      title: "Error",
      text: "Something went wrong. Please try again.",
      icon: "error"
    });
    console.error("Cancel order error:", error);
  }
}



//......................... return order

async function returnRequest(orderId,productId){
    const {value: returnReason} = await Swal.fire({
                title: "Return reason",
                input: "text",
                inputLabel: "Return reason",
                showCancelButton: true,

                inputValidator: (value)=>{
                    if(!value){
                        return "Enter a valid reason"
                    }
                }
            })

            if(returnReason){
                const response = await axios.post('/returnRequest',{orderId,productId,returnReason})

                if(response.data.loginRequired){
                    window.location.href = '/login'
                }else{

                    if(response.data.success){
                        await Swal.fire({
                            title:"Success",
                            text: "Return requested",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        })
                        window.location.reload()
                    }
                }
                
            }

        }


        </script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
    <!-- footer -->
    <%- include('../layouts/footer.ejs') %>
    <!-- footer -->
    <!-- layout footer -->
   
    <!-- layout footer -->
    <%- include('../layouts/layoutFooter.ejs') %>
    <!--layoutFooter  -->

    <!-- svg -->
    <%- include('../layouts/svg.ejs') %>
    <!-- svg -->

    <!-- search  -->
    <%- include('../layouts/search.ejs') %>
    <!-- search -->

    <!-- mobile nav bar -->
    <%- include('../layouts/mobileNavbar.ejs') %>
    <!-- mobile nav bar -->


    <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
        <a href="#"
            class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
            title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</body>
<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->
</html>