<%- include('../layouts/header.ejs')  %>

<body>
    <!-- nav bar -->
    <%- include('../layouts/navbar.ejs') %>
    <!-- navbar -->
    <main id="content" class="wrapper layout-page">
        <div class="dashboard-page-content">
            <div class="row mb-9 align-items-center justify-content-between">
                <div class="col-sm-6 mb-8 mb-sm-0">
                    <h2 class="fs-4 mb-0">Order Details</h2>
                </div>
            </div>
            <div class="card mb-4 rounded-4 p-7">
                <div class="card-body pt-7 pb-0 px-0">
                    <div class="row mx-n8">
                        <!-- sidbar  -->
                        <aside class="col-lg-3 border-end px-8">
                            <nav class="nav nav-pills flex-lg-column mb-7 nav-add-product">
                                <a class="nav-link active" id="profile-details-tab" href="/myAccount#orders" ><i class="ri-arrow-left-line"></i> Back To Profile</a>
                              
                            </nav>
                            <div class="mt-4 " >
                                <a class="btn btn-primary" href="/">Download Invoice</a>
                            </div>
                        </aside>
    <!-- dets -->
                        <div class="col-lg-9 px-8">
                            <!-- melethe div -->
                            <div style=" border-bottom: 1px dashed gray;" class="row mb-8 mt-4 order-info-wrap">
                                <div class="col-md-4 mb-md-0 mb-7">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle px-6 py-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-user px-1"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Customer</h6>
                                            <p class="mb-4">
                                                 <br>
                                                 <strong style="color: #eee;">Name :</strong> <%=singleData.UserId.name  %>
                                                <br>
                                                <strong style="color: #eee;">Mobile :</strong> <%=singleData.UserId.mobile  %>
                                                <br>
                                                
                                            </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-md-0 mb-7">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-truck px-2"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Order info</h6>
                                            <p class="mb-4">
                                                <br>

                                                <strong style="color: #eee;">Method :</strong> <%=singleData.payment%><br>
                                                <strong style="color: #eee;">Status :</strong> <%=singleData.paymentStatus%>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex flex-nowrap">
                                        <div class="icon-wrap">
                                            <span
                                                class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                                                <i class="fas fa-truck px-2"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-4">Deliver to</h6>
                                            <p class="mb-4">
                                              <%= singleData.deliveryAddress.name %></span><br>
                                               <%=singleData.deliveryAddress.street %> ,  <%=singleData.deliveryAddress.locality %><br>
                                               <%= singleData.deliveryAddress.city %> ,   <%= singleData.deliveryAddress.state %> ,  <%= singleData.deliveryAddress.pincode %><br>
                                                <strong style="color: #eee;">Phone : </strong><%= singleData.deliveryAddress.phone %>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- thazhathe div -->
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <thead style="background-color: #343A40; color: #fff;">
                                                <tr >
                                                    <th>Product</th>
                                                    <th> Price</th>
                                                    <th>Quantity</th>
                                                    <th class="text-end">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% singleData.products.forEach(data=>{  %>
                                                <tr style="border-bottom: .5px solid gray;">
                                                    <td>
                                                        <div class="d-flex align-items-center flex-nowrap">
                                                            <a href="../shop/product-details-v1.html"
                                                                title="Flowers cotton dress">
                                                                <img src="<%=data.productId.images[0] %>"
                                                                    data-src=""
                                                                    alt="Flowers cotton dress" class="lazy-image"
                                                                    width="60" height="80">
                                                            </a>
                                                          
                                                        </div>
                                                    </td>
                                                    <td><%=data.productId.offerPrice  %></td>
                                                    <td><%=data.quantity%></td>
                                                    <td class="text-end"><%=data.productId.offerPrice*data.quantity  %></td>
                                                </tr>
                                               
                                               
                                               
                                                <!-- <tr>
                                                    <td colspan="4">
                                                        <div
                                                            class="d-flex flex-column align-items-end justify-content-end">
                                                            <div class="mw-40 w-40">
                                                                <div class="d-flex w-100">
                                                                    <span
                                                                        class="d-inline-block w-50">Subtotal:</span>
                                                                    <span
                                                                        class="d-inline-block w-50 text-end fw-normal">$973.35</span>
                                                                </div>
                                                                <div class="d-flex w-100">
                                                                    <span class="d-inline-block w-50">Shipping
                                                                        cost:</span>
                                                                    <span
                                                                        class="d-inline-block w-50 text-end fw-normal">$10.00</span>
                                                                </div>
                                                                <div class="d-flex w-100 mb-5">
                                                                    <span class="d-inline-block w-50">Grand
                                                                        total:</span>
                                                                    <span
                                                                        class="d-inline-block w-50 text-end fs-5 fw-semibold">$983.00</span>
                                                                </div>
                                                                <div class="d-flex w-100">
                                                                    <span
                                                                        class="d-inline-block w-50 text-muted">Status:</span>
                                                                    <span
                                                                        class="d-inline-block w-50 text-end fs-20 fw-semibold"><span
                                                                            class="badge rounded-pill alert alert-success text-success fs-12px px-4 py-3">Payment
                                                                            done</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> -->
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 offset-lg-1">
                                    <div class="box shadow-sm bg-body-tertiary p-6">
                                        <h6 class="mb-6">Payment info</h6>
                                        <div>
                                            <div class="d-flex">
                                                <div class="me-4">
                                                    <img src="../assets/images/dashboard/master-card.png"
                                                        class="border" alt="Card" width="28">
                                                </div>
                                                <p class="mb-0"> Master Card **** ****4768</p>
                                            </div>
                                            <p class="mb-0">
                                                Business name: Grand Market LLC <br>
                                                Phone: +1 (800) 555-154-52
                                            </p>
                                        </div>
                                    </div>
                                    <div class="h-25 pt-8">
                                        <div class="mb-6">
                                            <label
                                                class="mb-5 fs-13px ls-1 fw-semibold text-uppercase">Notes</label>
                                            <textarea class="form-control" name="notes" id="notes"
                                                placeholder="Type some note"></textarea>
                                        </div>
                                        <button class="btn btn-primary">Save note</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        .amount{
        /* box-shadow:1px 1px 1px 8px rgb(219, 211, 211); */
            width: 100%;
            height: 3rem;
            border-radius: 10px;
            background-color: #343a40 ;
            border: 0;
        }
        
    
    
    body {
    
      height: 100vh;
    
    }
    
    .select-menu {
      width: 300px;
      cursor: pointer;
      position: relative;
    }
    
    .select {
      border: 1px solid;
      padding: 10px;
      color: #8b928e;
      font-weight: 500;
      border-radius: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      
    
    
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    
    .options-list {
      position: absolute;
      width: 100%;
      background-color: #343a40;
      border-radius: 6px;
    
      padding: 0 20px;
    
      overflow-y: auto;
      -webkit-transition: .4s linear .2s;
      -o-transition: .4s linear .2s;
      transition: .4s linear .2s;
      height: 0;
    }
    
    .option {
      padding: 8px 0;
      font-weight: 500;
      font-size: 14px;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    
    
    
    .options-list::-webkit-scrollbar {
      width: 4px;
      background-color: #eee;
    }
    
    
    
    .options-list.active {
      height: 180px;
    }
    
        
    </style>
    <script>const select = document.querySelector(".select");
        const options_list = document.querySelector(".options-list");
        const options = document.querySelectorAll(".option");
    
        //show & hide options list
        select.addEventListener("click", () => {
          options_list.classList.toggle("active");
          select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });
    
        //select option
        options.forEach((option) => {
          option.addEventListener("click", () => {
            options.forEach((option) => { option.classList.remove('selected') });
            select.querySelector("span").innerHTML = option.innerHTML;
            option.classList.add("selected");
            options_list.classList.toggle("active");
            select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
          });
        })</script>


            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <script>
            function razorPay() {
                const form = document.getElementById('myForm')
                const amount = document.getElementById('amount')
                console.log(amount.value)
   
   fetch('/razors', {
       method: 'POST',
       headers: { 'Content-type': 'application/json' },
       body: JSON.stringify({ amount:amount.value })
   }).then(res => res.json()).then(data => {
       if (data.success) {
        
           let options = {
               "key": `${data.key_id}`,
               "amount":` ${data.amount}`,
               "currency": "INR",
               "name": "GLOWING",
               "handler": function (response) {
                   form.submit();
               },
               "profile": {
                   "name": `${data.name}`,
                   "email": `${data.email}`
               }
           }

           let razorpayObject = new Razorpay(options);
           razorpayObject.on('payment.failed', (response) => {
               alert('payment failed');
              
               form.submit();
           });
           razorpayObject.open();
       } else if (data.fail) {
           const Toast = Swal.mixin({

               toast: true,
               position: "bottom",
               showConfirmButton: false,
               timer: 3000,
               timerProgressBar: true,

               didOpen: (toast) => {

                   toast.onmouseenter = Swal.stopTimer;
                   toast.onmouseleave = Swal.resumeTimer;
               }

           });

           Toast.fire({

               icon: "warning",
               title: "No address",
               background: "31363F"

           })
       }
   })
   .catch(error => {
   console.error('Error:', error);
});
}
        </script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
    <!-- footer -->
    <%- include('../layouts/footer.ejs') %>
    <!-- footer -->
    <!-- layout footer -->
   
    <!-- layout footer -->
    <%- include('../layouts/layoutFooter.ejs') %>
    <!--layoutFooter  -->

    <!-- svg -->
    <%- include('../layouts/svg.ejs') %>
    <!-- svg -->

    <!-- search  -->
    <%- include('../layouts/search.ejs') %>
    <!-- search -->

    <!-- mobile nav bar -->
    <%- include('../layouts/mobileNavbar.ejs') %>
    <!-- mobile nav bar -->


    <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
        <a href="#"
            class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
            title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</body>

<!-- Mirrored from templates.g5plus.net/glowing-bootstrap-5/home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Mar 2024 11:45:35 GMT -->

</html>